<div class="header">
    <div class="header-logo">
        <a [routerLink]="['students']" >StudentCRM</a>
        <a class="header-create-items" [routerLink]="['create-company']" >Create Company</a>
        <a class="header-create-items" [routerLink]="['create-student']" >Create Student</a>
    </div>
    <div class="header-container">
        <div>
            <a [routerLink]="['students']" >Students</a>
        </div>
        <div>
            <a [routerLink]="['сompanies']">Companies</a>
        </div>
        <div>
            <a [routerLink]="['events']">Events</a>
        </div>
    </div>
</div>