<h1 mat-dialog-title>Изменить данные о студенте</h1>
<div mat-dialog-content class="dialog">
    <mat-form-field class="company-create-example-full-width">
        <mat-label>Событие</mat-label>
        <input [(ngModel)]="name" matInput placeholder="Событие">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a company</mat-label>
        <mat-select  [(ngModel)]="company">
          <mat-option *ngFor="let company of companies" [value]="company.name">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

    <div class="save-button" (click)="saveData();">Сохранить</div>
</div>