<div class="student-info">
    <div class="student-shortInfo">
        <div class="student-img">
            <img src="assets/2.png" alt="">
        </div>
        <div class="student-content-short">
            <div class="student-edit-cont">
                <div class="student-name">{{company.name}}</div>
                <div>
                    <div class="edit-button" (click)="editCompany();">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                    </div>
                    <div class="delete-button" (click)="deleteCompany();">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </div>
                </div>
            </div>
            <div class="student-edit-cont">
                <div class="student-curs">Адрес {{company.address}}</div>
            </div>
        </div>
    </div>
    <div class="student-events">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
            style="margin-top:2rem; width: 100%;">
            <!-- Name Column -->
            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> studentName </th>
                <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
            </ng-container>
            <ng-container matColumnDef="studentCurs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> studentCurs </th>
                <td mat-cell *matCellDef="let element"> {{element.studentCurs}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="eventName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> eventName </th>
                <td mat-cell *matCellDef="let element"> {{element.eventName}}  </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}}  </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> company </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}
                    <div class="event-buttons">
                        <div class="delete-button" (click)="deleteStudent(element);">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </div>
                    </div>
                 </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>